
// Note: Shopify doesn't support sass import statements so all styling should be provided in this one file
// We are manually replacing urls for production in a gulp script - so all urls should here will only work in dev until the gulp file is updated.

.App {
  padding-top: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.community-titles {
  padding: 25px 0 0 50px;
  text-align: left;
  font-size: 1.2em;
  font-weight: 700;
}

.ambassadors {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 50px;
  margin: 1em 0;
}

.ambassador-lists {
  cursor: pointer;
  border-radius: 50%;
}

.ambassador-image {
  width: 120px;
  height: 120px;
}

#ambassador-image-id {
  border-radius: 50%;
}

.card-wrapper{
  width: 290px;
}

.profile-cards-contributor {
  margin: 2.5px;
}

.profile-cards-member {
  border: 3px solid rgba(0, 59, 59, 0.801);
  margin: 2.5px;
}

.social-icon-container {
  display: flex;
  padding-right: 5px;
}

.social-icons {
  margin: 0 3px 0 3px;
}

/* Randomise backgrounds */
.info-wrapper-1 {
  position: relative;
  margin-top: -70px;
  padding-top: 60px;
  padding-bottom: 1px;
  background-image: url("./_images/people-info-bk-1.svg");
  background-size: cover;
}

.info-wrapper-2 {
  position: relative;
  margin-top: -70px;
  padding-top: 60px;
  padding-bottom: 1px;
  background-image: url("./_images/people-info-bk-2.svg");
  background-size: cover;
}

.info-wrapper-3 {
  position: relative;
  margin-top: -70px;
  padding-top: 60px;
  padding-bottom: 1px;
  background-image: url("./_images/people-info-bk-3.svg");
  background-size: cover;
}

.info-wrapper-4 {
  position: relative;
  margin-top: -70px;
  padding-top: 60px;
  padding-bottom: 1px;
  background-image: url("./_images/people-info-bk-4.svg");
  background-size: cover;
}

/* end of randomised background  */

.info-container {
  margin: 0px 10px -1px 10px;
}

.profile-name {
  color: rgb(36, 36, 36);
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 0 8px;
}

.info-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: row wrap;
  background-color: rgba(255, 255, 255, 0.85);
}

.profile-description {
  padding: 10px 8px 8px 8px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 5px 8px 8px 8px;
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
}

/* SkyLight */

.ambassador-image-skylight {
  margin: auto;
  padding-top: 15px;
  width: 180px;
  height: 180px;
  display: flex;
}

.ambassador-banner {
  background-image: url("./_images/ribbon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: -25px;
  margin-left: -27px;
  width: 455px;
  height: 140px;
}

.ambassador-name {
  color: rgb(36, 36, 36);
  height: 30px;
  margin-top: -20px;
  font-weight: 700;
  font-size: 20px;
}

.ambassador-profile {
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
}

.ambassador-info-header{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
}
