
// Note: Shopify doesn't support sass import statements so all styling should be provided in this one file
// We are manually replacing urls for production in a gulp script - so all urls should here will only work in dev until the gulp file is updated.
 
$small: 480px;
$medium: 798px;
$large: 799px;
$larger: 960px;
$xlarge: 1400px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: $small) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (max-width: $medium) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: $large) {
      @content;
    }
  }

  @else if $breakpoint == "larger" {
    @media (min-width: $larger) {
      @content;
    }
  }

  @else if $breakpoint == "xlarge" {
    @media (min-width: $xlarge) {
      @content;
    }
  }

  @else if $breakpoint == "ie10+" {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @content;
    }
  }
  @else if $breakpoint == "tablet" {
    @media only screen and (min-width: 799px) and (max-width: 1024px){
      @content;
    }
  }
  @else if $breakpoint == "tablet-down" {
    @media only screen and (max-width: 1024px){
      @content;
    }
  }
  @else {
    @media ($breakpoint) {
      @content;
    }
  }
}

@function calc-width($padding, $numCols) {
  @return 100/$numCols - $padding * $numCols / ($numCols / 2) * 1%
};

.App {
  padding-top: 20px;
  text-align: center;
  font-family: 'Poppins','Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typography {
  font-family: 'Poppins','Roboto', sans-serif;
}

.community-titles {
  padding: 25px 0 0 0;
  text-align: center;
  font-weight: 500;
  @include respond-to('large'){
    font-size: 4em;
  }
  @include respond-to('larger'){
    font-size: 4em;
  }
  @include respond-to('xlarge'){
    font-size: 5em;
  }
  @include respond-to('medium'){
    font-size: 3em;
  }
  @include respond-to('small'){
    font-size: 1.5em;
  }
}

$card-padding: 1.5;
.card-wrapper{
  padding: $card-padding * 1%;
  @include respond-to('large'){
    width: calc-width($card-padding, 3);
  }
  @include respond-to('larger'){
    width: calc-width($card-padding, 3);
  }
  @include respond-to('xlarge'){
    width: calc-width($card-padding, 4);
  }
  @include respond-to('medium'){
    width: calc-width($card-padding, 2);
  }
  @include respond-to('small'){
    width: calc-width($card-padding, 1);
  }
}

.profile-card {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25)!important;
  border-radius: 1px!important;
  &__member {
    border-bottom: 10px solid #805298;
  }
  &__contributor {
    border-bottom: 10px solid #03A095;
  }
}

.profile-image {
  height: auto;
}

.profile-name {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  line-height: 27px;
}

.profile-description {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: justify;
  font-size: 13px;
  line-height: 1.4;
  margin-top: 12px;
}

.social-icon-container {
  display: flex;
  margin-right: -3px;
}

.social-icons {
  margin: 0 3px 0 3px;
}

.info-container {
  margin: 10px 20px 0px 20px;
  padding-bottom: 20px;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.85);
}
